.tradesTabs {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tradesTab {
  background: black;
  color: white;
  border: 2px solid white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 8px;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  text-align: center;
}

.tradesTab .blocky {
  margin: 0 4px;
}

.tradesTab:has(input:checked) {
  background: white;
  color: black;
}

.tradesTab input {
  visibility: hidden;
  width: 0;
  margin: 0;
}

.tradeHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tradeHeaderTitles {
  display: flex;
  flex-direction: column;
}
.tradeHeaderTitles h2 {
  margin: 0;
}

.tradeHeaderTitles h4 {
  font-weight: 400;
  margin: 2px 0;
  font-size: small;
}

.yourItemsHeader {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 0;
  padding-left: 28px;
}

.refreshButton {
  margin-left: 8px;
  font-size: 14px;
  height: 24px;
  width: 24px;
  line-height: 0px;
  background: black;
  border: 2px solid white;
  color: white;
  border-radius: 999px;
  cursor: pointer;
}

.refreshButton:hover {
  background: white;
  color: black;
}

.myTokens {
  max-height: 512px;
  overflow: scroll;
}

.activeTradeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.loadingBalances {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.gridSearch {
  display: block;
  background: black;
  border-radius: 999px;
  color: white;
  border: 2px solid white;
  padding: 4px 16px;
  font-size: 16px;
  margin: 0 32px;
  flex-grow: 1;
}
.gridSearch::placeholder {
  color: rgba(255, 255, 255, 0.9);
}
