html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background: black;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
}

.title {
  border-bottom: 1px solid rgb(112, 91, 171);
  height: 48px;
  line-height: 48px;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
  align-items: center;
}

.blocky {
  image-rendering: pixelated;
  border-radius: 4px;
}
