.responsiveAddress {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.responsiveAddressContainer {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
}
