.lockInButton {
  color: white;

  border-radius: 999rem;
  padding: 8px 16px;
  font-size: 18px;
  background: linear-gradient(
        10.93deg,
        #951990 -19.03%,
        #3a35b1 46.85%,
        #20a8b0
      )
      padding-box,
    linear-gradient(12.93deg, #dd14d5, #4e47f5 55%, #3de8f3) border-box;
  border: 1.5px solid transparent;
  cursor: pointer;
}
.lockInButton:disabled {
  background: linear-gradient(
        10.93deg,
        #858585 -19.03%,
        #aaaaaa 46.85%,
        #adadad
      )
      padding-box,
    linear-gradient(12.93deg, #dedede, #f0f0f0 55%, #eeeeee) border-box;
  cursor: default;
}

.lockInButton:not(:disabled):hover {
  opacity: 0.5;
}
